<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAr2jvjbeNNew088Emz_ZI1BZi6M5a33ao</string>
	<key>GCM_SENDER_ID</key>
	<string>634999464299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kfupmEvents</string>
	<key>PROJECT_ID</key>
	<string>ccevents-5dd07</string>
	<key>STORAGE_BUCKET</key>
	<string>ccevents-5dd07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634999464299:ios:6cd6caf93ffdb81069ec2e</string>
	<key>DATABASE_URL</key>
	<string>https://ccevents-5dd07-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>